.navbar{
    
}

.navbar-inverse {
    background-color: #F7F9F9;
    border-color: #F7F9F9;
    box-shadow: rgb(190, 192, 196) 0px 0px 5px; 
}
/* .navbar-toggle{
    border-color: #FF6663;
} */
.navbar-inverse .navbar-brand {
    color: #FF6663;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: #0B3954;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #FF6663;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #FF6663;
}
.panel-default>.panel-heading {
    color: #E8F4FF;
    background-color: #0B3954;
    border-color: #0B3954;
    margin: -1px;
}
.panel-default {
    border-color: rgba(11, 57, 84,0.5);/*#0B3954*/
}
.btn-default {
    color: #0B3954;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:hover {
    color: white;
    background-color: #E8F4FF;
    border-color: #a8bbd9;
}
h1, h2, h3{
    font-weight: 400;
}
h4{
    font-weight: 300;
    font-size: 18px;
}
h4:hover{
    color: #FF6663;
}
p{
    color: #0B3954;
    font-size: 18px;
    font-weight: 300;
}
h1.page-header{
    color: #ed7674;
}
h2.page-header{
    color: #ed7674;
}
h3.page-header{
    color: #0B3954;
}
.text-primary {
    color: #65c3ad;
}
.btn-primary {
    color: #fff;
    background-color: #2DBAE5;
    border-color: #2DBAE5;
}
.btn-primary:hover {
    color: #fff;
    background-color: #FF6663;
    border-color: #FF6663;
}
a{
    color: #0B3954;
}
a:focus, a:hover {
    color: #FF6663;
}